.indiceHead {
  align-items: flex-end;
  margin-bottom: 21px;
}

.indiceHead h1 {
  font-size: 29px;
  font-weight: 640;
  letter-spacing: -0.04em;
}

@media (max-width: 640px) {
  .indiceHead h1 {
    font-size: 25px;
  }
}
